

<style>

    .left_panel_li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: auto;
        border: 1px solid #555;
        text-align: center;
        background-color: white;
    }

    .left_panel_item a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: 1px solid #555;
    }

        .left_panel_item a.active {
            background-color: #666798;
            color: white;
        }

        .left_panel_item a:hover:not(.active) {
            background-color: #666798;
            color: white;
        }
</style>


<ul class="left_panel_li" id="link_container">
    <li class="left_panel_item" id="left_panel_one">
        <a href="@Url.Action("View_Staff_Request", "Head")" id="View_Staff_Request" class="active">
            View Staff Request
        </a>
    </li>
    <li class="left_panel_item" id="left_panel_two">
        <a href="@Url.Action("View_Approved_Staff_Request", "Head")" id="View_Approved_Staff_Request">
            Approved Order Request
        </a>
    </li>
    <li class="left_panel_item" id="left_panel_three">
        <a href="@Url.Action("View_Reject_Staff_Request", "Head")" id="View_Reject_Staff_Request">
            Reject Order Request
        </a>
    </li>

    @{
        String Role = Session["Role"].ToString();

        if (Role != "Temporary_Head")
        {
            <li class="left_panel_item" id="left_panel_four">
                <a href="@Url.Action("Delegate_Authority", "Head")" id="Delegate_Authority">
                    Delegate Authority
                </a>
            </li>
        }
    }


    <li class="left_panel_item" id="left_panel_five">
        <a href="@Url.Action("Representative_Selection", "Head")" id="Representative_Selection">
            Representative Selection
        </a>
    </li>

    <li class="left_panel_item" id="left_panel_six">
        <a href="@Url.Action("Collection_Point_Change", "Head")" id="Collection_Point_Change">
            Collection Point
        </a>
    </li>
</ul>

<script type="text/javascript">

    function Check_LINK_Selection() {

        var data = window.location.href;
        var url_arr = data.split("/");

        var click_ele = document.getElementById(url_arr[url_arr.length - 1]);

        var active_ele_id = document.querySelector(".active").id;
        var active_ele = document.getElementById(active_ele_id);
        
        active_ele.setAttribute("class", "");
        click_ele.setAttribute("class", "active");

    }
</script>