
<style>

    .left_panel_li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: auto;
        border: 1px solid #555;
        text-align: center;
        background-color: white;
    }

    .left_panel_item a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: 1px solid #555;
    }

        .left_panel_item a.active {
            background-color: #666798;
            color: white;
        }

        .left_panel_item a:hover:not(.active) {
            background-color: #666798;
            color: white;
        }
</style>


<ul class="left_panel_li">
    <li class="left_panel_item" id="left_panel_one">
        <a href="@Url.Action("View_Department_Request", "Clerk")" id="View_Department_Request" class="active">
            Department Requests
        </a>
    </li>
    <li class="left_panel_item" id="left_panel_two">
        <a href="@Url.Action("View_ChargeBack", "Clerk")" id="View_ChargeBack">
            ChargeBack
        </a>
    </li>

    <li class="left_panel_item" id="left_panel_three">
        <a href="@Url.Action("View_Stationary_Retrival_Form", "Clerk")" id="View_Stationary_Retrival_Form">
            Stationary Retrieval Form
        </a>
    </li>

    <li class="left_panel_item" id="left_panel_four">
        <a href="@Url.Action("View_Adjustment_Voucher", "Clerk")" id="View_Adjustment_Voucher">
            Adjustment Voucher
        </a>
    </li>
    <li class="left_panel_item" id="left_panel_five">
        <a href="@Url.Action("View_Purchase_Order", "Clerk" )" id="View_Purchase_Order">
            Purchase Order
        </a>
    </li>

    <li class="left_panel_item" id="left_panel_six">
        <a href="@Url.Action("View_Stock_Card", "Clerk")" id="View_Stock_Card">
            Stock Card
        </a>
    </li>

    <li class="left_panel_item" id="left_panel_seven">
        <a href="@Url.Action("View_Disbursement_List", "Clerk")" id="View_Disbursement_List">
            Disbursement List
        </a>
    </li>

</ul>



<script type="text/javascript">

    function Check_LINK_Selection() {

        var data = window.location.href;
        var url_arr = data.split("/");

        var click_ele = document.getElementById(url_arr[url_arr.length - 1]);

        var active_ele_id = document.querySelector(".active").id;
        var active_ele = document.getElementById(active_ele_id);

        active_ele.setAttribute("class", "");
        click_ele.setAttribute("class", "active");

    }
</script>